NPOAdapterIntegrationComponent/src/main/resources/services/cs-outbound-sendstatus-service.xml
<?xml version="1.0" encoding="utf-8"?>
<mule
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
        xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:https="http://www.mulesoft.org/schema/mule/https"
        xsi:schemaLocation="
                http://www.mulesoft.org/schema/mule/core   http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                http://www.mulesoft.org/schema/mule/cxf    http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
                http://www.mulesoft.org/schema/mule/http   http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                http://www.mulesoft.org/schema/mule/https  http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
                ">

    <flow name="CareSystemService-1.0-Client">

        <logger level="INFO" message="=== prepare to call CareSystem SendStatus ===" />
    
        <logger level="INFO" message="=== transforming EngagementIndex UpdateResponseType to CareSystem SendStatus ===" />
        <transformer ref="cs-sendstatus-transformer" />
        <set-variable variableName="sendStatusRequest" value="#[payload]" />
        <logger level="INFO" message="=== sendStatusRequest: #[sendStatusRequest] ==========" />

        <logger level="INFO" message="=== retrieve careSystemUrl for hsaId #[hsaId] ===" />
        <transformer ref="cs-taklookup-transformer" />
        <set-variable variableName="careSystemAddress" value="#[payload]"/>
        <logger level="INFO" message="=== careSystemAddress:#[careSystemAddress], hsaId:#[hsaId] ===" />

        <!--    -->
        
        <logger level="INFO" message="=== Calling out to external care system (13606 producer) with SendStatus (https) ===" />
        <set-payload value="#[sendStatusRequest]"/>

        <!-- https for external endpoints -->
        <https:outbound-endpoint connector-ref="soitoolkit-https-connector"
                                 address="https://#[careSystemAddress]"
                                 exchange-pattern="request-response"
                                 responseTimeout="${SERVICE_TIMEOUT_MS}"
                                 transformer-refs="logReqOut"
                                 responseTransformer-refs="logRespIn check-response-transformer">
            
            <cxf:jaxws-client port="CSSoap"
                              operation="SendStatus"
                              clientClass="se.nationellpatientoversikt.CS"
                              wsdlLocation="classpath:/interactions/care_system/CARE_SYSTEM_1.1.2.wsdl" />

        </https:outbound-endpoint>

    </flow>

</mule>
