NPOAdapterIntegrationComponent/src/main/resources/services/cs-outbound-sendstatus-service.xml
<?xml version="1.0" encoding="utf-8"?>
<mule
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:https="http://www.mulesoft.org/schema/mule/https"
        xsi:schemaLocation="
                http://www.mulesoft.org/schema/mule/core   http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                http://www.mulesoft.org/schema/mule/cxf    http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
                http://www.mulesoft.org/schema/mule/http   http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                http://www.mulesoft.org/schema/mule/https  http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
                ">


    <flow name="CareSystemService-1.0-Client">

        <!--  PAN-89 SendStatus when index request is not forwarded to NPO -->
    
        <logger level="INFO" message="=== Prepare to call CareSystem SendStatus (SendSimpleIndexRequest is not forwarded to NPÖ) ===" />
    
        <!-- transform the message -->
        <logger level="INFO" message="=== Transforming EngagementIndex UpdateResponseType to CareSystem SendStatus ===" />
        <transformer ref="cs-sendstatus-transformer" />
        <set-variable variableName="sendStatusRequest" value="#[payload]" />
        <logger level="INFO" message="=== sendStatusRequest: #[sendStatusRequest] ==========" />
        

        <!-- retrieve careSystemUrl -->
        <logger level="INFO" message="=== Calling out to TakVägVal ===" />
        <set-payload value="Not used"/>
        <!-- internal connections are http -->
        <http:outbound-endpoint connector-ref="soitoolkit-http-connector"
                                address="${ENDPOINT_TAKVAGVAL_STUB}"
                                exchange-pattern="request-response"
                                responseTimeout="${SERVICE_TIMEOUT_MS}"
                                transformer-refs="logReqOut"
                                responseTransformer-refs="logRespIn check-response-transformer">

            <cxf:jaxws-client port="SokVagvalsSoap11LitDocPort"
                              operation="hamtaAllaVirtualiseringar"
                              clientClass="skl.tp.vagvalsinfo.v2.SokVagvalsServiceSoap11LitDocService"
                              wsdlLocation="classpath:/sokvagval-info-v2.wsdl" />
        </http:outbound-endpoint>
        
        <logger level="INFO" message="=== Transform response from TakVägVal to retrieve careSystemUrl for hsaId #[hsaId] ===" />
        <transformer ref="cs-taklookup-transformer" />
        <set-variable variableName="careSystemAddress" value="#[payload]"/>
        <logger level="INFO" message="=== careSystemAddress:#[careSystemAddress], hsaId:#[hsaId] ===" />

        <!--    -->
        
        <logger level="INFO" message="=== Calling out to CareSystem SendStatus (as index request was not forwarded to NPO) ===" />
        <set-payload value="#[sendStatusRequest]"/>

        <https:outbound-endpoint connector-ref="soitoolkit-https-connector"
                                 address="https://#[careSystemAddress]"
                                 exchange-pattern="request-response"
                                 responseTimeout="${SERVICE_TIMEOUT_MS}"
                                 transformer-refs="logReqOut"
                                 responseTransformer-refs="logRespIn check-response-transformer">
            
            <cxf:jaxws-client port="CSSoap"
                              operation="SendStatus"
                              clientClass="se.nationellpatientoversikt.CS"
                              wsdlLocation="classpath:/interactions/care_system/CARE_SYSTEM_1.1.2.wsdl" />
                              
        </https:outbound-endpoint>

    </flow>

</mule>
