NPOAdapterIntegrationComponent/src/main/resources/services/ei-outbound-update-service.xml
<?xml version="1.0" encoding="utf-8"?>
<mule
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xsi:schemaLocation="
                http://www.mulesoft.org/schema/mule/core    http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                http://www.mulesoft.org/schema/mule/cxf     http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
                http://www.mulesoft.org/schema/mule/http    http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">



    <flow name="UpdateResponderService-1.0-Client">

        <!-- transform the message -->
    
        <!-- message is a SendSimpleIndex request to NPOSoap -->
        <!-- use InboundUpdateIndexTransformer.transform() to transform the message into an UpdateType request which can be sent to EngagementIndex -->
        <!-- This transformer also captures incoming parameters and stores them in npo_param_ ..  -->
        <!-- UpdateType contains a sequence of EngagementTransaction -->
        
        
        <transformer ref="update-index-transformer" />

        <logger level="INFO" message="=============== Payload: #[payload] ==========" />
        
        <!-- Pass the transformed message to the EngagementIndex endpoint -->
        
        <http:outbound-endpoint connector-ref="soitoolkit-http-connector"
                                address="${OUT_ENDPOINT_EI}"
                                exchange-pattern="request-response"
                                responseTimeout="${SERVICE_TIMEOUT_MS}"
                                transformer-refs="objToStr logReqOut"
                                responseTransformer-refs="logRespIn check-response-transformer">

            <set-property propertyName="x-vp-instance-id" value="${VP_INSTANCE_ID}" />
            <set-property propertyName="x-vp-sender-id" value="#[groovy:message.getOutboundProperty('npo_param_hsa_id')]" />

            <cxf:jaxws-client port="UpdateResponderPort"
                              operation="Update"
                              clientClass="riv.itintegration.engagementindex.update._1.rivtabp21.UpdateResponderService"
                              wsdlLocation="classpath:/interactions/UpdateInteraction/UpdateInteraction_1.0_RIVTABP21.wsdl" />
                              
        </http:outbound-endpoint>

    </flow>

</mule>
