NPOAdapterIntegrationComponent/src/main/resources/services/npo-index-service.xml
<?xml version="1.0" encoding="utf-8"?>
<mule
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xmlns:https="http://www.mulesoft.org/schema/mule/https"
        xsi:schemaLocation="
                http://www.mulesoft.org/schema/mule/core   http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                http://www.mulesoft.org/schema/mule/cxf    http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
                http://www.mulesoft.org/schema/mule/http   http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                http://www.mulesoft.org/schema/mule/https  http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd
        ">

    <!--
    Receives NPÖ SendSimpleIndex request. 
    NPÖ SendSimpleIndex and EngagementIndex Update are invoked synchronously.
    -->
    <flow name="NPOService-1.1.2">

        <!-- http -->
        <inbound-endpoint address="${IN_ENDPOINT_NPO}"
                          connector-ref="soitoolkit-http-connector"
                          transformer-refs="create-correlation-id objToStr logReqIn"
                          responseTransformer-refs="createSoapFaultTransformer objToStr logRespOut"
                          exchange-pattern="request-response"/>
        
        <cxf:jaxws-service
        	namespace="http://nationellpatientoversikt.se"
        	serviceClass="se.skl.skltpservices.npoadapter.ws.NpoWS"
        	wsdlLocation="classpath:/interactions/npo/NPO_1.1.2.wsdl"/>
        
        <set-variable variableName="sendSimpleIndexRequest" value="#[payload]"/>

        <!-- invoke sendSimpleIndex on NpoWS - validation component that implements the NPO interface -->
        <!-- Returns true if the three parameters are present in the request -->
        <!-- hsa_id, transaction_id, version -->
        <!-- otherwise throw an exception -->
        <component>
            <!-- NpoWS implements the webservice interface in order to validate the request payload -->
            <!-- It does not do any implementation that would be part of NPO -->
            <singleton-object class="se.skl.skltpservices.npoadapter.ws.NpoWS"  />
        </component>
        <set-variable variableName="result" value="#[payload]" />
        <logger level="INFO" message="=== NpoWS validation result: #[variable:result] ==========" />

        <!--  -->

        <choice>
        
            <when expression="header:INVOCATION:cxf_operation={http://nationellpatientoversikt.se}NotifyAlive">
                <logger message="Operation: NotifyAlive" level="INFO"/>
            </when>
            
            <when expression="header:INVOCATION:cxf_operation={http://nationellpatientoversikt.se}SendSimpleIndex">
                <logger message="Operation:SendSimpleIndex" level="INFO"/>
                
                <!--  -->
                
                <logger level="INFO" message="=== EngagementIndex Update - start ===" />
                <set-payload value="#[variable:sendSimpleIndexRequest]" />
        
                <!-- flow in ei-outbound-update-service.xml -->
                <flow-ref name="UpdateResponderService-1.0-Client" />
        
                <logger level="INFO" message="=== EngagementIndex Update - end ===" />
                
                <!-- This is needed for CareSystem SendStatus below -->
                <set-variable variableName="updateResponseType" value="#[payload]" />
                
                <logger level="INFO" message="=== Transform UpdateResponseType to Boolean ===" />
                <transformer ref="ei-updateresponse-transformer" />
                
                <logger level="INFO" message="=== Returning from NPO SendSimpleIndex - result:#[payload] ===" />
        
                <!--  -->
        
                <async>
                    <logger level="INFO" message="=== Checking whether to call CareSystem SendStatus ===" />
                    <logger level="INFO" message="=== CARE_SYSTEM_SEND_STATUS_IS_ACTIVE: ${CARE_SYSTEM_SEND_STATUS_IS_ACTIVE} ===" />
                    
                    <choice>
                        <when expression="(${CARE_SYSTEM_SEND_STATUS_IS_ACTIVE} == 'true')" >
                            <!-- capture incoming parameters (hsaId, transactionId, version)-->
                            <set-payload value="#[sendSimpleIndexRequest]"/>
                            <transformer ref="update-index-captureparameters-transformer" />
                            <logger level="INFO" message="=== hsaId         : #[variable:hsaId] ===" />
                            <logger level="INFO" message="=== transactionId : #[variable:transactionId] ===" />
                            <logger level="INFO" message="=== version       : #[variable:version] ===" />
                
                            <!--  -->
                            <logger level="INFO" message="=== Calling CareSystem SendStatus ===" />
                            <set-payload value="#[updateResponseType]"/>
                            <!-- flow in cs-outbound-sendstatus-service.xml -->
                            <flow-ref name="CareSystemService-1.0-Client" />
                        </when>
                        
                        <otherwise>
                            <logger level="INFO" message="=== Not calling CareSystem SendStatus ===" />
                        </otherwise>
                    </choice>
                </async>   
            </when>
            <otherwise>
                <logger message="Operation not supported" level="INFO"/>
            </otherwise>
        </choice>
        
        <custom-exception-strategy class="org.soitoolkit.commons.mule.error.ServiceExceptionStrategy"/>
    </flow>

</mule>
