NPOAdapterIntegrationComponent/src/main/resources/services/npo-adapater-service.xml
<?xml version="1.0" encoding="utf-8"?>
<mule
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
        xmlns="http://www.mulesoft.org/schema/mule/core"
        xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
        xmlns:http="http://www.mulesoft.org/schema/mule/http"
        xsi:schemaLocation="
                http://www.mulesoft.org/schema/mule/core    http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                http://www.mulesoft.org/schema/mule/cxf     http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
                http://www.mulesoft.org/schema/mule/jms     http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
                http://www.mulesoft.org/schema/mule/http    http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        ">


    <flow name="npo-adapter-flow">

        <inbound-endpoint address="${ENDPOINT_NPO}"
                          connector-ref="soitoolkit-http-connector"
                          exchange-pattern="request-response"/>

        <cxf:jaxws-service
                namespace="http://nationellpatientoversikt.se"
                serviceClass="se.skl.skltpservices.npoadapter.ws.NpoWS"
                wsdlLocation="classpath:/interactions/npo/NPO_1.1.2.wsdl" />

        <set-variable variableName="request" value="#[payload]"/>

        <component>
            <singleton-object class="se.skl.skltpservices.npoadapter.ws.NpoWS"  />
        </component>

        <set-variable variableName="response" value="#[payload]" />

        <set-payload value="#[variable:request]" />

        <transformer ref="update-index-transformer" />

        <http:outbound-endpoint connector-ref="soitoolkit-http-connector"
                                address="${ENDPOINT_EI}"
                                exchange-pattern="request-response"
                                responseTimeout="${SERVICE_TIMEOUT_MS}" >

            <set-property propertyName="x-vp-instance-id" value="${ADAPTER_HSA_ID}" />
            <set-property propertyName="x-vp-sender-id" value="${VP_INSTANCE_ID}" />

            <cxf:jaxws-client port="UpdateResponderPort"
                              operation="Update"
                              clientClass="riv.itintegration.engagementindex.update._1.rivtabp21.UpdateResponderService"
                              wsdlLocation="classpath:/interactions/UpdateInteraction/UpdateInteraction_1.0_RIVTABP21.wsdl" />
        </http:outbound-endpoint>


        <set-payload value="#[variable:request]" />

        <transformer ref="send-index-transformer" />

        <jms:outbound-endpoint
                connector-ref="soitoolkit-jms-connector"
                queue="${NPO_INDEX_QUEUE}"
                />

        <set-payload value="#[variable:response]" />

        <custom-exception-strategy class="org.soitoolkit.commons.mule.error.ServiceExceptionStrategy"/>
    </flow>

</mule>
