NPOAdapterIntegrationComponent/src/main/resources/services/route-service.xml
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
      xsi:schemaLocation="
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
                http://www.mulesoft.org/schema/mule/core        http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                http://www.mulesoft.org/schema/mule/cxf         http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
                http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd" >

    <flow name="outbound-route-flow" >

        <!--
        <custom-transformer class="se.skl.tp.vp.vagvalrouter.CheckSenderIdTransformer" doc:name="Check SenderId exist in incoming http request, put in session variable">
            <spring:property name="senderIdPropertyName" value="${VAGVALROUTER_SENDERID}" />
            <spring:property name="whiteList" value="${IP_WHITE_LIST}" />
            <spring:property name="vpInstanceId" value="${VP_INSTANCE_ID}" />
            <spring:property name="senderIpAdressHttpHeader" value="${VAGVALROUTER_SENDER_IP_ADRESS_HTTP_HEADER}"/>
        </custom-transformer>
        -->

        <!-- Save the http header x-rivta-original-serviceconsumer-hsaid in session-property originalServiceconsumerHsaid -->
        <set-session-variable variableName="originalServiceconsumerHsaid" value="#[message.inboundProperties.get('x-rivta-original-serviceconsumer-hsaid')]" />


        <!--
        <transformer ref="rivTransformer" />
        -->

        <cxf:proxy-client payload="body" />

        <custom-processor class="se.skl.skltpservices.npoadapter.mule.OutboundRouter" >
            <!-- Default value for response timeout is set in VagvalRouter -->
            <spring:property name="responseTimeout" value="${SERVICE_TIMEOUT_MS}" />
            <!-- Value for HTTP header x-vp-instance-id -->
            <spring:property name="vpInstanceId" value="${VP_INSTANCE_ID}" />
        </custom-processor>

    </flow>

</mule>